#graph-page {
    height: 100vh;
}

.theimage {
    width: 90%;
    margin: auto;
}

#custom-shape {
    outline: 1px solid grey;
    background: url('horizontalLines.svg');
}

.stroke {
    stroke-width:1;
    stroke: #000;
    fill: transparent;
}

.fill {
    fill: grey;
}
