/* Portfolio Section */
#portfolio {
    padding: 120px 0;
    background: #f6f6f6;
}
.categories {
    padding-bottom: 40px;
    text-align: center;
}
ul.cat li {
    display: inline-block;
    cursor: pointer;
}
ol.type li {
    display: inline-block;
    margin-left: 20px;
}
ol.type li a {
    color: #rgb(183,245,121);
    padding: 10px 20px;
    border: 1px solid #9cc932;
    text-transform: uppercase;
}
ol.type li a.active {
    background: #9cc932;
    color: #fff;
}
ol.type li a:hover {
    background: #9cc932;
    color: #fff;
}
.isotope-item {
    z-index: 2
}
.isotope-hidden.isotope-item {
    z-index: 1
}
.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
#portfolio i.fa {
    font-size: 20px;
    padding: 5px;
    color: #E87E04;
}